*{
    margin:0;
    padding:0;
    list-style: none;
    box-sizing: border-box;
}
/* body{
    background-color: rgba(31, 74, 144, 0.909);
} */
.container_carousel{
    width: 450px;
    margin: auto;
}


img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.slick-prev:before ,.slick-next:before {
    font-size: 30px  !important;
    color: rgb(62, 3, 3) !important;
    
    /* background-color: #eee; */
  }
  .slick-prev{
   left: -35px !important;
  }