/* 
Hex Color Code
#ff69b4 hotpink
#f5288f 𣶶粉色
#fff    white
#f1f1f1 白色 好像是亮一點的白色
*/

.wrap{
    max-width: 680px;
    margin: auto;
    text-align: center;
    margin-top: 10vh;
    padding: 20px;
    border: 3px solid #ff69b4;
    border-radius: 10px;
    background-color: #f1f1f1;
}

.header{
    font-size: 20px;
    margin: 15px;
}
.collapsible{
    background-color: #ff69b4;
    color: #f1f1f1;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border:none;
    text-align: left;
    outline:none;
    font-size: 15px;
}

.active, 
.collapsible:hover{
    background-color: #f5288f;
}

.collapsible:after{
    content: '\002B'; /* 加號＋的unicode */
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after{
    content: '\2212';
}

.content{
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    text-align: left;

}